.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.spacer {
  min-width: var(--spacer-width);
}

.spacer:nth-child(4) {
  min-width: 0;
}

@media (max-width: 1100px) {
  .wrapper {
    flex-direction: column;
  }
}
