.footer {
  background-color: var(--primary-color);
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 30px;
}

.footerWrapper {
  width: 100%;
  max-width: var(--content-with);
  width: var(--content-max-with);
  display: flex;
  justify-content: space-around;
}

.cardWrapper {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
1038px max width
*/
