.backgroundImage {
  background: linear-gradient(
      rgba(255, 255, 255, 0.231),
      rgba(0, 0, 0, 0.653),
      rgba(0, 0, 0, 0.824),
      rgb(0, 0, 0)
    ),
    url("https://grovenfitness.no/____impro/1/onewebmedia/shutterstock_1617700621.jpg?etag=%22a0ea6e-63ab0127%22&sourceContentType=");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

.imageTextH1 {
  margin-bottom: 40px;
}

.imageTextH2 {
  margin-bottom: 60px;
  width: 1200px;
  text-align: center;
}
