.wrapper {
  display: flex;
  justify-content: space-between;
}

.baa {
  background-image: url("/src/assets/grovenFitnesSenterBoOppeSmal.jpg");
}

.fyresdal {
  background-image: url("/src/assets/fyresdalTreningsSenter.jpg");
}

.card {
  width: 50%;
  height: 400px;
  background-repeat: no-repeat;
  transition: width 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.h2 {
  background-color: var(--primary-color);
  padding: 10px;
  text-align: center;
}

@media (min-width: 1101px) {
  .card:hover {
    width: 64%;
  }

  .baa {
    background-position: left;
  }

  .fyresdal {
    background-position: right;
  }
}

@media (max-width: 1100px) {
  .wrapper {
    flex-direction: column;
  }

  .card {
    width: 100%;
    height: 300px;
    margin-bottom: var(--spacer-width);
  }

  .card:last-child {
    margin-bottom: 0;
  }

  .baa {
    background-position: center;
  }

  .fyresdal {
    background-position: center;
  }
}

@media (max-width: 420px) {
  .h2 {
    width: 100%;
  }
}
